* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.header_container{
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 19px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #333;
    margin-top: 10px;
}
.header_left img{
    width: 130px;
}
.header_right{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.header_right ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.header_right ul li {
    margin-inline: 10px;
}
.header_right ul li a{
    color: #333;
    text-decoration: none;
    font-size: 19px;
}
.body_container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 4rem;

}
.restaurant_card_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 16px;
}
.res-card{
    border: 1px solid transparent;
    padding: 8px;
    transition: all .3s ease ;
}
.res-card:hover{
    border: 1px solid #333;
    box-shadow: 4px 4px 6px rgba(0,0,0, .5);
}
.res-card img{
   width: 100%;
}
.shimmar_container{
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 16px; 
}

.shimmar{
  height: 240px;
  background: linear-gradient(-45deg, #f0f0f0 0%, #e0e0e0 50%, #f0f0f0 100%);
  background-size: 200% 200%;
  animation: shimmer 1s ease-in-out infinite;
}


@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -120% 100%;
  }
}
.auth{
  border: none;
  background: #ddd;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 16px;
}

.filter{
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter_btn{
  border: none;
  background: #ddd;
  padding: 10px 22px;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 16px;
  margin-block: 1rem;
  margin-left: 19px;
}
.search{
  display: flex;
  align-items: center;
  gap: 10px;
}
 input[type = "text"]{
  padding: 5px 30px 5px 5px;
  outline: none;
  border-radius: 4px;
}